/* Navbar.css */
.navbar {
  width: 98%;
  display: flex;
  justify-content: space-between;
  /* 좌우 배치 */
  align-items: center;
  padding: 10px 20px;
  background-color: darkblue;
  color: white;
}

/* Link 기본 스타일 제거 */
.navbar .menu a {
  text-decoration: none;
  /* 밑줄 제거 */
  color: inherit;
  /* 부모 요소의 글자 색상에 맞추기 */
}

/* 메뉴 항목에 대한 스타일 */
.navbar .menu li {
  display: inline-block;
  margin-right: 400px;
}

.navbar .menu li:last-child {
  margin-right: 0;
}

/* 로고 스타일 */
.navbar .logo a {
  color: white;
  /* 원하는 로고 색상 */
  font-size: 1.8rem;
  text-decoration: none;
}

/* 메뉴 항목의 기본 글자 색상 */
.navbar .menu li a {
  color: white;
  /* 원하는 텍스트 색상 */
  font-size: 1.1rem;
  transition: color 0.3s ease;
}

.navbar .menu li a:hover {
  color: #007bff;
  /* 호버 시 색상 */
}

.login-btn {
  background-color: #007BFF;
  color: white;
}

.signup-btn {
  background-color: #28A745;
  color: white;
}