
.player-records-container {
    width: 90%;
    margin: 0 auto;
  }
  
  .tabs {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .tabs button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: grey;
  }
  
  .tabs button.active {
    background-color: darkblue;
    color: white;
    font-weight: bold;
  }
  
  .filters {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .filters select {
    padding: 8px 12px;
    font-size: 16px;
  }
  
  .records-section {
    margin-top: 20px;
  }
  
  .records-section h4 {
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .player-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .player-table th,
  .player-table td {
    border: 1px solid #ddd;
    text-align: center;
    padding: 8px;
  }
  
  .player-table th {
    background-color: #f4f4f4;
    font-weight: bold;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination button {
    padding: 8px 12px;
    border: 1px solid #ddd;
    background-color: white;
    color: black;
    cursor: pointer;
  }
  
  .pagination button:hover {
    background-color: #f0f0f0;
  }

.search-box {
  padding: 8px 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

  